.projects {
    margin: 0 auto;

    max-width: 75rem;
    width: 90%;
}

.projects h1 {
    color: var(--text-color);
    font-family: Bogart;
}

@media all and (max-width: 639px)
{
    .projects {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}