@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");
@font-face {
  font-family: "Bogart";
  src: url("fonts/bogart.woff2") format('woff2');
}

html, #root, body, .page-content, .content-container {
  height: 100%;
}

body {
  background-color: rgb(46, 46, 46);
}

.page-content {
  background-size: 100%;
  
  color: rgb(255, 255, 255);

  font-family: Lato;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content-container {
  width: 75%;
  max-width: 75rem;
}

.content-header {
  font-weight: 700;
}